Repository tox-dev/tox: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelogs-rst, changelogs-user-role

changelogs-rst:
  name: changelog filenames
  language: fail
  entry: 'changelog files must be named ####.(bugfix|feature|deprecation|breaking|doc|misc).rst'

changelogs-user-role:
  name: changelog files have a non-broken :user:`name` role
  language: pygrep
  entry: :user:([^`]+`?|`[^`]+[\s,])
  pass_filenames: true

Support for recursive extras (#2579)
  .pre-commit-config.yaml
  docs/changelog/2567.feature.rst
  pyproject.toml
  src/tox/tox_env/python/virtual_env/package/cmd_builder.py
  src/tox/tox_env/python/virtual_env/package/pyproject.py
  src/tox/tox_env/python/virtual_env/package/util.py
  tests/tox_env/python/virtual_env/package/test_python_package_util.py
  tox.ini
Due: changelogs-user-role

Do not set COLUMNS or LINES if already set by user
  docs/changelog/2575.bugfix.rst
  src/tox/execute/local_sub_process/__init__.py
  tests/execute/local_subprocess/test_local_subprocess.py
Due: changelogs-user-role

Do not set COLUMNS or LINES if already set by user (#2580)
  docs/changelog/2575.bugfix.rst
  src/tox/execute/local_sub_process/__init__.py
  tests/execute/local_subprocess/test_local_subprocess.py
Due: changelogs-user-role

Allow replacing keys with - in INI config
  docs/changelog/2569.bugfix.rst
  src/tox/config/loader/ini/replace.py
  tests/config/loader/ini/replace/test_replace_tox_env.py
Due: changelogs-user-role

Allow replacing keys with - in INI config (#2581)
  docs/changelog/2569.bugfix.rst
  src/tox/config/loader/ini/replace.py
  tests/config/loader/ini/replace/test_replace_tox_env.py
Due: changelogs-user-role

Use devpi-process instead rolling our own
  pyproject.toml
  src/tox/pytest.py
  tests/test_provision.py
Due: none

Use devpi-process instead rolling our own (#2582)
  pyproject.toml
  src/tox/pytest.py
  tests/test_provision.py
Due: none

Remove link to gitter
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Remove link to gitter (#2584)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Update bug report template (#2585)
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Fix doc build, bump deps and tools
  .pre-commit-config.yaml
  docs/changelog/2576.bugfix.rst
  docs/conf.py
  docs/installation.rst
  pyproject.toml
  tox.ini
  whitelist.txt
Due: changelogs-user-role

Filter pytest-cov rsync warning
  .github/workflows/check.yml
  pyproject.toml
  tox.ini
Due: none

Support - prefix for commands exit code ignore
  docs/changelog/2561.bugfix.rst
  src/tox/config/loader/str_convert.py
  tests/session/cmd/test_sequential.py
Due: changelogs-user-role

Support - prefix for commands exit code ignore (#2586)
  docs/changelog/2561.bugfix.rst
  src/tox/config/loader/str_convert.py
  tests/session/cmd/test_sequential.py
Due: changelogs-user-role

Ensure paths constructed by tox stay meaningful
  docs/changelog/2562.bugfix.rst
  src/tox/config/main.py
  tests/config/test_main.py
Due: changelogs-user-role

Ensure paths constructed by tox stay meaningful (#2587)
  docs/changelog/2562.bugfix.rst
  src/tox/config/main.py
  tests/config/test_main.py
Due: changelogs-user-role

Ensure only one tox environment operates on a packaging environment
  docs/changelog/2564.bugfix.rst
  src/tox/tox_env/package.py
  whitelist.txt
Due: changelogs-user-role

Ensure only one tox environment operates on a packaging environment (#2588)
  docs/changelog/2564.bugfix.rst
  src/tox/tox_env/package.py
  whitelist.txt
Due: changelogs-user-role

Fallback to editable-legacy if the build backend does not have build_editable
  docs/changelog/2567.bugfix.rst
  pyproject.toml
  src/tox/tox_env/python/virtual_env/api.py
  src/tox/tox_env/python/virtual_env/package/pyproject.py
  tests/session/cmd/test_sequential.py
  tests/tox_env/python/pip/test_pip_install.py
  tests/tox_env/python/test_python_api.py
  tests/tox_env/python/virtual_env/package/test_package_cmd_builder.py
  tests/tox_env/python/virtual_env/package/test_package_pyproject.py
  tests/tox_env/python/virtual_env/test_setuptools.py
Due: changelogs-user-role

Fallback to editable-legacy if the build backend does not have build_editable (#2590)
  docs/changelog/2567.bugfix.rst
  pyproject.toml
  src/tox/tox_env/python/virtual_env/api.py
  src/tox/tox_env/python/virtual_env/package/pyproject.py
  tests/session/cmd/test_sequential.py
  tests/tox_env/python/pip/test_pip_install.py
  tests/tox_env/python/test_python_api.py
  tests/tox_env/python/virtual_env/package/test_package_cmd_builder.py
  tests/tox_env/python/virtual_env/package/test_package_pyproject.py
  tests/tox_env/python/virtual_env/test_setuptools.py
Due: changelogs-user-role

Do not pull in Python 2 as dependency
  .github/workflows/check.yml
  tests/tox_env/python/virtual_env/test_virtualenv_api.py
Due: none

Do not pull in Python 2 as dependency (#2589)
  .github/workflows/check.yml
  tests/tox_env/python/virtual_env/test_virtualenv_api.py
Due: none

Fix release script
  tasks/release.py
Due: none

release 4.0.0rc2
  docs/changelog.rst
  docs/changelog/2561.bugfix.rst
  docs/changelog/2562.bugfix.rst
  docs/changelog/2564.bugfix.rst
  docs/changelog/2567.bugfix.rst
  docs/changelog/2567.feature.rst
  docs/changelog/2569.bugfix.rst
  docs/changelog/2574.bugfix.rst
  docs/changelog/2575.bugfix.rst
  docs/changelog/2576.bugfix.rst
Due: changelogs-user-role

Lock parallel package operations
  .pre-commit-config.yaml
  docs/changelog/2594.bugfix.rst
  pyproject.toml
  src/tox/tox_env/api.py
  src/tox/tox_env/package.py
  src/tox/util/path.py
Due: changelogs-user-role

Lock parallel package operations (#2593)
  .pre-commit-config.yaml
  docs/changelog/2594.bugfix.rst
  pyproject.toml
  src/tox/tox_env/api.py
  src/tox/tox_env/package.py
  src/tox/util/path.py
Due: changelogs-user-role

Better handling of build backend without editable support and add --exit-and-dump-after flag
  docs/changelog/2595.bugfix.rst
  docs/changelog/2595.feature.rst
  pyproject.toml
  src/tox/config/cli/parser.py
  src/tox/execute/pep517_backend.py
  src/tox/run.py
  src/tox/tox_env/package.py
  src/tox/tox_env/python/api.py
  src/tox/tox_env/python/package.py
  src/tox/tox_env/python/virtual_env/package/pyproject.py
  tests/config/cli/test_cli_env_var.py
  tests/config/cli/test_cli_ini.py
  tests/tox_env/python/test_python_api.py
  tests/tox_env/python/virtual_env/package/test_package_pyproject.py
  whitelist.txt
Due: changelogs-user-role

Better handling of build backend without editable support and add --exit-and-dump-after flag (#2597)
  docs/changelog/2595.bugfix.rst
  docs/changelog/2595.feature.rst
  pyproject.toml
  src/tox/config/cli/parser.py
  src/tox/execute/pep517_backend.py
  src/tox/run.py
  src/tox/tox_env/package.py
  src/tox/tox_env/python/api.py
  src/tox/tox_env/python/package.py
  src/tox/tox_env/python/virtual_env/package/pyproject.py
  tests/config/cli/test_cli_env_var.py
  tests/config/cli/test_cli_ini.py
  tests/tox_env/python/test_python_api.py
  tests/tox_env/python/virtual_env/package/test_package_pyproject.py
  whitelist.txt
Due: changelogs-user-role

release 4.0.0rc3
  docs/changelog.rst
  docs/changelog/2594.bugfix.rst
  docs/changelog/2595.bugfix.rst
  docs/changelog/2595.feature.rst
Due: changelogs-user-role

Remove deprecated `whitelist_externals` configuration option
  docs/changelog/2599.removal.rst
  docs/config.rst
  src/tox/tox_env/api.py
Due: changelogs-rst, changelogs-user-role

Create a FAQ entry about tox v3 - v4 compatibility
  docs/faq.rst
Due: changelogs-user-role

Remove deprecated `whitelist_externals` configuration option (#2600)
  docs/changelog/2599.removal.rst
  docs/config.rst
  src/tox/tox_env/api.py
Due: changelogs-rst, changelogs-user-role

Do not conflate extra markers and extra dependencies
  docs/changelog/2603.bugfix.rst
  src/tox/tox_env/python/virtual_env/package/util.py
  tests/tox_env/python/virtual_env/package/test_python_package_util.py
Due: changelogs-user-role

Do not conflate extra markers and extra dependencies (#2605)
  docs/changelog/2603.bugfix.rst
  src/tox/tox_env/python/virtual_env/package/util.py
  tests/tox_env/python/virtual_env/package/test_python_package_util.py
Due: changelogs-user-role

release 4.0.0rc4
  docs/changelog.rst
  docs/changelog/2599.removal.rst
  docs/changelog/2603.bugfix.rst
Due: changelogs-rst, changelogs-user-role

PR Feedback
  README.md
  docs/config.rst
  docs/faq.rst
  docs/index.rst
  src/new.md
Due: changelogs-user-role

Update docs/faq.rst
  docs/faq.rst
Due: changelogs-user-role

PR feedback
  docs/cli_interface.rst
  docs/faq.rst
Due: changelogs-user-role

Path conditions:
  changelogs-rst: any of: ^docs/changelog/, but not: ^docs/changelog/(\d+\.(bugfix|feature|deprecation|breaking|doc|misc).rst|README.rst|template.jinja2)
  changelogs-user-role: any of: \.rst$
